body {
    background: var(--bg-color);
    width: 100%;
}

nav{
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 5%;
    height: 700px;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin: 0 0 0 -120px;
    padding: 5px;
}
.material-icons {
    color: var(--icon);
    font-size: 30px;
    transition: color 400ms ease-in-out;
}

    .material-icons:hover {
        color: white;
    }
