@page
@model Dailee_Konnekt.Pages.NotifModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/notif.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
</head>

<body>
    <div class="Hero">
        <div class="">

        </div>
    </div>
</body>