@page
@model ProfileModel
@{
}
<head>
    <link rel="stylesheet" href="~/css/profile.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
</head>

<body>
    <div class="Hero">
        <div class="HeroProfile">
            <div class="circle"></div>
        </div>

        <div class="HeroContent">
            <div class="Personal">
                <h6>Personal Information</h6>
                    <div class="container">
                        <p>Fullname </p>
                        <P>Username</P>
                    </div>
                    <hr />
                <div class="container">
                    <p>User ID </p>
                    <P>
                        615818476993019538
                    </P>
                </div>
            </div>

            <div class="Personal">
                <h6 style="margin-top: 50px;">Verification Information</h6>
                <div class="container">
                    <p>Identity verification </p>
                    <P>Verified</P>
                </div>
                <hr />
                <div class="container">
                    <p>Country/Region</p>
                    <P>Philippines</P>
                </div>

                <div class="Personal">
                    <h6 style="margin-top: 50px;">Account Details</h6>
                    <div class="container">
                        <p>Email </p>
                        <P>username@gmail.com</P>
                    </div>
                    <hr />
                    <div class="container">
                        <p>Phone</p>
                        <P> 09******098</P>
                    </div>
                    <hr />
                    <div class="container">
                        <p>Links</p>
                        <P> www.Dailee_konnekt.com</P>
                    </div>
                    <hr />
                    <div class="container">
                        <p>Change Password</p>
                        <P>Dai******nnekt</P>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>